.DaysHeader {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    div {
        width: 100%;
        padding: 0.5rem;
        background: #a6b5b4;
        text-align: center;
    }
}