
@import './styles/components/days-header.scss';
@import './styles/components/month-header.scss';
@import './styles/containers/calendar.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
